#entry img
{
	position:absolute;
   top: 255px;
    left: 615px;
}
				
#about img
{
	position:absolute;
   top: 100px;
    left: 615px;
}
#video img
{
	position:absolute;
   top: 100px;
    left: 460px;
}					
#tab
{
	position:relative;
	top:315px;
	left:30px;
}

#men
{
	position:relative;
	top:0px;
	left:400px;
}

#arc
{
		position:relative;
		top: 350px;
		left: 80px
}
#content {
    position: relative;
}
#content img {
    position: absolute;
    top: 0px;
    left: 0px;
}

#e img {
	position:absolute;
   top: 255px;
    left: 460px;
}

#f img {
	position:absolute;
   top: 120px;
    left: 600px;
}

#content1 {
    position: relative;
}
#content1 img {
    position: absolute;
    top: 0px;
    right: 0px;
}

body {
	background-image: url('vara2.jpg') ;
}
a:link {
	text-decoration:none; color:#000000
}
a:visited {
	text-decoration:none; color:#000000
}
a:hover {
	text-decoration:blink; color:#000000
}
a:active {
	text-decoration:none; color:#000000
	}
.black {color:#000000;}
.blue {color:#2692E0;}	
#menu
{    
position:relative;
left:300px;

padding-top: 50px;
}

#menu li
{   margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
#menu li a
{   display: block;
	margin: 0 1px 0 0;
    padding: 4px 10px;
    width: 150px;
    background: #656565;
    color: #ffffff;
    text-align:left;
}
#menu li a:hover
{
	background:#B87171;

}
